{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Modif {% endblock %}



{% block contenu %} 
<h1 style = "text-align: center; margin-bottom: 2%;margin-top: 2%;">Modifier votre profil</h1> 

{% endblock %} 