{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Profil {% endblock %}

{% block contenu %} 

<h1 style = "text-align: center; margin-bottom: 2%;margin-top: 5%;">Profil</h1>

<h3>Adresse mail: {{form.email}}<h3>

{% endblock %} 